*{
margin:0%;
padding: 0%;
}

ul{
     list-style-type: none;
    /* margin: 2;
    padding: 2; */
    /* display: inline ; */
    display: flex;
    justify-content:flex-end;
    padding:20px ;

} 

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 20px;
}

h1{
    text-align: center;
    font-style: unset;
    font-size: xx-large;
}

nav ul {
    background-image:url("/home/alicia/Downloads/image4")
}

image {
    text-align: center;
}