ul{
     list-style-type: none;
    /* margin: 2;
    padding: 2; */
    /* display: inline ; */
    display: flex;
    justify-content:flex-end;
    padding: ;
} 

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
}